
<% provide(:title, 'Login') %>

<div class = "row">
	<div class="col-xs-8 ">
		<center>
			<h1 class="top">Login</h1>

			<%= form_for(:session, url: login_path) do |f| %>

			<%= f.email_field :email , placeholder: "Email", class: "form-control input_new_user "%>

			<%= f.password_field :password, placeholder: "Pasword", class: "form-control input_new_user"%>
			<%= f.label :remember_me, class: "checkbox inline" do %>
			<%= f.check_box :remember_me , class: 'checkbox-remember-me', style: 'margin-left: 20px;'%>

			<span style="margin-right: 200px;font-family: Arial Narrow;color: #000000;">Remember me </span>
			<% end %>
			<br/>


			<%= f.submit "To come in", class: "btn btn-primary input_new_user"%>
			<%= link_to "For the first time? Register!", signup_path,  class: 'nav-link header', style: 'color: #000000;font-family: Arial Narrow;margin-right: 120px;'%>
			<% end %>
		</center>

	</div>
</div>
