<% provide(:title, 'Sign up') %>
<%= render 'shared/error_messages' %>
<div class = "row">
	<div class="col-xs-8">
		<center>
			<h1>Registration</h1>

			<%= form_for(@user) do |f| %>



			<%= f.text_field :name, placeholder: "Name", class: "form-control input_new_user "%>


			<%= f.text_field :email, placeholder: "Email", class: "form-control input_new_user " %>


			<%= f.password_field :password, placeholder: "Pasword", class: "form-control input_new_user"%>


			<%= f.password_field :password_confirmation, placeholder: "Repeat password", class: "form-control input_new_user"%>


			<%= f.submit "Create account", class: "btn btn-primary input_new_user"%>
			<% end %>

		</center>
	</div>
</div>
