 <!-- Этот код нужен для демонстрации внешнего вида сайта, вы можете загрузить книгу, но через какое то время она исчезнет, так как хероку не может хранить файлы на своем сервере долгое время-->
<div class="portfolio">
   <div class="ratio_image ratio_image_1x1">
      <ul><li><span class="descr">
         <h4>Не так уж и сложно</h4>
         <br/><br/>
         <button type="button" class="btn btn-light">Скачать</button>
         </span><%= image_tag "147113-viktor-frankl-skazat-zhizni-da-psiholog-v-konclagere (2).jpg", class: "img" %>
      </li></ul> 
   </div>

   <div class="ratio_image ratio_image_1x1">
      <ul><li><span class="descr">
         <h4>Тревожные люди</h4>
         <br/><br/>
         <button type="button" class="btn btn-light">Скачать</button>
         </span><%= image_tag "1.jpg", class: "img" %>
      </li></ul> 

   </div>


   <div class="ratio_image ratio_image_1x1">
      <ul><li><span class="descr">
         <h4>О чем молчит печень</h4>
            <br/><br/>
            <button type="button" class="btn btn-light">Скачать</button>
            </span><%= image_tag "147113-viktor-frankl-skazat-zhizni-da-psiholog-v-konclagere (4).jpg", class: "img" %>
         </li></ul> 
   </div>

   <div class="ratio_image ratio_image_1x1">
      <ul><li><span class="descr">
      <h4>Что делать когда не знаешь что делать</h4>
         <br/><br/>
         <button type="button" class="btn btn-light">Скачать</button>
         </span><%= image_tag "147113-viktor-frankl-skazat-zhizni-da-psiholog-v-konclagere (3).jpg", class: "img" %>
         </li></ul> 
   </div>


   <div class="ratio_image ratio_image_1x1">
      <ul><li><span class="descr">
         <h4>Как изобрести все</h4>
         <br/><br/>
         <button type="button" class="btn btn-light">Скачать</button>
         </span><%= image_tag "147113-viktor-frankl-skazat-zhizni-da-psiholog-v-konclagere (1).jpg", class: "img" %>
         </li></ul> 

   </div>
   <div class="ratio_image ratio_image_1x1">
      <ul><li><span class="descr">
         <h4>Ночной болтун</h4>
         <br/><br/>
         <button type="button" class="btn btn-light">Скачать</button>
         </span><%= image_tag "147113-viktor-frankl-skazat-zhizni-da-psiholog-v-konclagere (4) (1).jpg", class: "img" %>
         </li></ul> 
   </div>





   <!-- Этот код нужен для демонстрации внешнего вида сайта, вы можете загрузить книгу, но через какое то время она исчезнет, так как хероку не может хранить файлы на своем сервере долгое время-->



         <% @books.each do |book| %>
               <div class="ratio_image ratio_image_1x1">
               <ul><li><span class="descr"><h4><%= book.name %></h4>
                  <br/><br/><br/><br/>
                     <%= link_to "Удалить",  book, method: :delete, class: "btn btn-light", data: {confirm: "Are you sure?"} %>
                     <%= link_to "Скачать", book.attachment_url, class: "btn btn-light"%>
                  <br/>
            </span><%= image_tag(book.image.thumb.url, alt: 'Image', class: "img") if book.image?  %>
            </li></ul> 
            </div>
         <% end %>
   </div>

      
