<!-- Этот код нужен для демонстрации внешнего вида сайта,
 вы можете загрузить книгу, но через какое то время она исчезнет,
 так как хероку не может хранить файлы на своем сервере долгое время-->
<div class="portfolio">
   <div class="ratio_image ratio_image_1x1">
      <ul><li><span class="descr">
         <h4>It's not that hard</h4>
         <br/><br/>
         <%= link_to "More", bshow_one_path, class: "btn btn-light" %>
         </span><%= image_tag "147113-viktor-frankl-skazat-zhizni-da-psiholog-v-konclagere (2).jpg", class: "img" %>
      </li></ul>
   </div>

   <div class="ratio_image ratio_image_1x1">
      <ul><li><span class="descr">
         <h4>Anxious people</h4>
         <br/><br/>
         <%= link_to "More", bshow_to_path, class: "btn btn-light" %>
         </span><%= image_tag "1.jpg", class: "img" %>
      </li></ul>
   </div>


   <div class="ratio_image ratio_image_1x1">
      <ul><li><span class="descr">
         <h4>What is the liver silent about</h4>
            <br/><br/>
            <%= link_to "More", bshow_tri_path, class: "btn btn-light" %>
            </span><%= image_tag "147113-viktor-frankl-skazat-zhizni-da-psiholog-v-konclagere (4).jpg", class: "img" %>
         </li></ul>
   </div>

   <div class="ratio_image ratio_image_1x1">
      <ul><li><span class="descr">
      <h4>What to do when you don't know what to do</h4>
         <br/><br/>
         <%= link_to "More", bshow_four_path, class: "btn btn-light" %>
         </span><%= image_tag "147113-viktor-frankl-skazat-zhizni-da-psiholog-v-konclagere (3).jpg", class: "img" %>
         </li></ul>
   </div>


   <div class="ratio_image ratio_image_1x1">
      <ul><li><span class="descr">
         <h4>How to invent everything</h4>
         <br/><br/>
         <%= link_to "More", bshow_five_path, class: "btn btn-light" %>
         </span><%= image_tag "147113-viktor-frankl-skazat-zhizni-da-psiholog-v-konclagere (1).jpg", class: "img" %>
         </li></ul>

   </div>
   <div class="ratio_image ratio_image_1x1">
      <ul><li><span class="descr">
         <h4>Night talker</h4>
         <br/><br/>
         <%= link_to "More", bshow_six_path, class: "btn btn-light" %>
         </span><%= image_tag "147113-viktor-frankl-skazat-zhizni-da-psiholog-v-konclagere (4) (1).jpg", class: "img" %>
         </li></ul>
   </div>
    <div class="ratio_image ratio_image_1x1">
      <ul><li><span class="descr">
         <h4>Small business big game</h4>
         <br/><br/>
         <%= link_to "More", bshow_7_path, class: "btn btn-light" %>
         </span><%= image_tag "1473-viktor-frankl-skazat-zhizni-da-psiholog-v-konclagere (4) (1).png", class: "img" %>
         </li></ul>
   </div>
   <div class="ratio_image ratio_image_1x1">
      <ul><li><span class="descr">
         <h4>Flowers for algernon</h4>
         <br/><br/>
         <%= link_to "More", bshow_8_path, class: "btn btn-light" %>
         </span><%= image_tag "Deniel_Kiz__Tsvety_dlya_Eldzhernona.jpeg", class: "img" %>
         </li></ul>
   </div>
      <div class="ratio_image ratio_image_1x1">
      <ul><li><span class="descr">
         <h4>Simple python</h4>
         <br/><br/>
         <%= link_to "More", bshow_9_path, class: "btn btn-light" %>
         </span><%= image_tag "147113-viktor-fr.png", class: "img" %>
         </li></ul>
   </div>
   <div class="ratio_image ratio_image_1x1">
      <ul><li><span class="descr">
         <h4>Ruby on Rails</h4>
         <br/><br/>
         <%= link_to "More", bshow_10_path, class: "btn btn-light" %>
         </span><%= image_tag "21.png", class: "img" %>
         </li></ul>
   </div>





   <!-- Этот код нужен для демонстрации внешнего вида сайта,
    вы можете загрузить книгу, но через какое то время она исчезнет,
    так как хероку не может хранить файлы на своем сервере долгое время-->

        <% @books.each do |book| %>
          <div class="ratio_image ratio_image_1x1">
            <ul><li>
            <span class="descr"><h4><%= book.name %></h4>
            <br/><%= link_to "More",  book , class: "btn btn-light"%> </span>
            <%= image_tag(book.image.thumb.url, alt: 'Image', class: "img") if book.image? %>
            </li></ul>
          </div>
        <% end %>
   </div>
