


<div class="row">

	<div class="col-4">
		<%= image_tag(@book.image.thumb.url, alt: 'Image', class: "img", style: 'width: 350px; height: 500px;') if @book.image?  %>
	</div>
	<div  class="col-xl-6">
		<h1><%= @book.name %></h1>
		<p>Страниц:<%= @book.page %></p>
		<h3>Описание:</h3>
		<p><%= @book.desc %></p>

		<%= link_to "Удалить", @book, method: :delete, class: "btn btn-primary", data: {confirm: "Are you sure?"} %>
 		<%= link_to "Скачать", @book.attachment_url, class: "btn btn-primary"%>
	</div>

</div>
