<div class="portfolio">
<!-- Этот код нужен для демонстрации внешнего вида сайта,кнопки простые заглушки , вы можете загрузить книгу, но через какое то время она исчезнет, так как хероку не может хранить файлы на своем сервере долгое время-->

   <div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 g-2">

         <div class="col">
            <ul><li><span class="descr"><h4>Не так уж и сложно</h4>
               <br/>
               <br/>
               <button type="button" class="btn btn-light">Скачать</button>


         </span><%= image_tag "147113-viktor-frankl-skazat-zhizni-da-psiholog-v-konclagere (2).jpg", class: "img" %>
         </li></ul> 
         </div> 
<!-- ________________________________________________________________________________ -->
         <div class="col">
            <ul><li><span class="descr"><h4>О чем молчит печень</h4>
               <br/>
               <br/>
               <button type="button" class="btn btn-light">Скачать</button>


         </span><%= image_tag "147113-viktor-frankl-skazat-zhizni-da-psiholog-v-konclagere (4).jpg", class: "img" %>
         </li></ul> 
         </div> 
<!-- ________________________________________________________________________________ -->
         <div class="col">
            <ul><li><span class="descr"><h4>что делать когда не знаешь что делать</h4>
               <br/>
               <br/>
               <button type="button" class="btn btn-light">Скачать</button>


         </span><%= image_tag "147113-viktor-frankl-skazat-zhizni-da-psiholog-v-konclagere (3).jpg", class: "img" %>
         </li></ul> 
         </div> 
<!-- ________________________________________________________________________________ -->
         <div class="col">
            <ul><li><span class="descr"><h4>Как изобрести все</h4>
               <br/>
               <br/>
               <button type="button" class="btn btn-light">Скачать</button>


         </span><%= image_tag "147113-viktor-frankl-skazat-zhizni-da-psiholog-v-konclagere (1).jpg", class: "img" %>
         </li></ul> 
         </div> 





</div>









<div class="portfolio">

   <div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 g-2">
      <% @resumes.each do |resume| %>
         <div class="col">
            <ul><li><span class="descr"><h4><%= resume.name %></h4>
               <br/>
               <br/>
               <br/>
               <br/>

                  <%= link_to "Удалить",  resume, method: :delete, class: "btn btn-light", data: {confirm: "Are you sure?"} %>

                  <%= link_to "Скачать", resume.attachment_url, class: "btn btn-light"%>
               <br/>
                  

                  
         </span><%= image_tag(resume.image.thumb.url, alt: 'Image', class: "img") if resume.image?  %>
         </li></ul> 
         </div>
      <% end %>
</div>

   

