  <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">

        <h5>
          <li><%= link_to "Library", root_path, id: "logo", class: 'nav-link px-2 header' %></li></h5>        <svg width="1em" height="2em" viewBox="0 5 16 16" class="bi bi-bookmark-fill logo" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M3 3a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v12l-5-3-5 3V3z"/>
</svg> 

         
        

        <% if logged_in? %>
        <%= link_to "Профиль", current_user, class: 'nav-link header'%>

        

        <li><%= link_to "Добавить книгу", new_resume_path, class: 'nav-link header' %></li>
         <!-- Кнопка-триггер модального окна -->
          <button class="nav-link "style="color: black; " data-bs-toggle="modal" data-bs-target="#exampleModal">
            Анотации
          </button>

          <!-- Модальное окно -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Анотации</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                  Так как Heroku не может долго хранить файлы, я создал первые 8 книг, которые являются заглушками, и служат для демонстрации дизайна сайта, вы можете для ознакомления функционала добавить книгу, и её обложку.
                  Так же у книг есть описание и количество страниц, но пока что этот функцционал не отображается

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>

                </div>
              </div>
            </div>
          </div>


          <li class="nav-item dropdown">

          <a class="btn header"  id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">


          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-justify " fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
</svg>
            
          </a>

          <ul class="dropdown-menu dropdown-menu " >
            <li><%= link_to "Редактировать профиль", edit_user_path(current_user), class: 'nav-link' %></li>
            <li><%= link_to "Выход", logout_path, method: "delete", class: 'nav-link'%></li>

            
          </ul>
        </li>


        <% else %>
          <!-- Кнопка-триггер модального окна -->
          <button class="nav-link" style="color: black; " data-bs-toggle="modal" data-bs-target="#exampleModal">
            Добавить книгу
          </button>

          <!-- Модальное окно -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Уведомление</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                  Пожалуйста пройдите небольшую регистрацию, чтобы выкладывать книги, так же пожалуйтса прочтите анотации</div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>

                </div>
              </div>
            </div>
          </div>



          <%= link_to "Зарегестрироваться", signup_path,  class: 'nav-link header'%>
          <%= link_to "Войти", login_path, class: 'nav-link header'%>

          <!-- Кнопка-триггер модального окна -->
          <button class="nav-link "style="color: black; " data-bs-toggle="modal" data-bs-target="#exampleModal">
            Анотации
          </button>

          <!-- Модальное окно -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Анотации</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                  Так как Heroku не может долго хранить файлы, я создал первые 8 книг, которые являются заглушками, и служат для демонстрации дизайна сайта, вы можете для ознакомления функционала добавить кенигу, и её обложку</div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>

                </div>
              </div>
            </div>
          </div>
        <!-- __________________________________________________________________________________________ -->

        <%end%>

      </ul>
    </header>
